html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.heading{
  text-align: center;
}
.smallBox{
  width: 4rem;
  height: 4rem;
  /* margin: 1rem; */
  border: 2px solid;
  text-align: center;
}
.eachBox{
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  margin: 0 auto;
  margin-top: 2rem;
}